/*Utilidades*/
.oculta{font-size: 0px; margin: 0px; padding: 0px;}
img.logo{max-width: 120px;}
.clear{clear: both;}
.divider{width: 200px; border-bottom: 2px dotted #AE9DAB; margin: 0 auto;}
.titulo{color: #333;font-size: 35px;font-weight: bold; font-family: 'Open Sans',Arial,sans-serif;}
.descricao{color: #363535;line-height: 24px;margin: 11px;}
.carrinho-compra{margin: 0px 13px 0px -12px; }
.margem-esquerda{margin: 0 0 20px 43px;}

/*Background Colors*/
.color-grey{background-color: #E7E7E7;}
.color-orange{background-color: #f99e00;}
.color-blue{background-color: #0990ce;}
.color-plano1{background-color: #FFC107;}
.color-plano2{background-color: #1E88E5;}

/*Cores*/
.color-white{color: #FFF !important;}

/*Resets*/
a.login{background-color:unset; font-size: 12px; color: #f99e00; margin-left: 5px;}
a.login:hover{background-color:unset; font-size: 12px; color: #09ce47; margin-left: 5px;}
a:hover{text-decoration: none !important;}
.bold{font-weight: bold; padding-top: 10px;}

/*Fonts Sizes*/
.font16{font-size:16px; font-weight: 100;}
.font30{font-size:33px !important; font-family: Nunito;}
.font-free{font-size:48px !important; font-family: Nunito; font-style: italic;}
.font-money{font-size:24px !important; font-family: Nunito;}
.font10{font-size:12px !important; font-style: italic !important;}

/*Btns*/
.btn-escolha-plano{color: #FFF;background-color: #09ce47;padding: 10px 24px;border-radius: 4px;font-size: 17px;text-transform: uppercase;}
.btn-escolha-plano:hover{background-color: #3ad86c; color: #FFF; text-decoration: none;}
.btn-compra{color: #FFF;background-color: #09ce47;padding: 10px 24px;border-radius: 4px;font-size: 14px;text-transform: uppercase;}
.btn-compra:hover{background-color: #3ad86c; color: #FFF; text-decoration: none;}
.btn-envia{border: inherit;}

/*Triangulos*/
.triangle{margin: 0 auto; display: block; margin-top:-1px; z-index: 99;}
.triangle-blue{fill: #0990ce; stroke: #0990ce; stroke-width: 0;}
.triangle-white{fill: #FFF; stroke: #FFF; stroke-width: 0;}
.triangle-grey{fill: #333;stroke: #333;stroke-width: 0;}

/*Paddings*/
.padding-1{padding: 1px 0px;}
.padding-10{padding: 10px 0px;}
.padding-20{padding: 20px 0px;}
.padding-30{padding: 30px 0px;}
.padding-40{padding: 40px 0px;}
.padding-50{padding: 50px 0px;}
.padding-60{padding: 60px 0px;}
.padding-70{padding: 70px 0px;}
.padding-80{padding: 80px 0px;}

/*Header*/
.header{background-color: #FFF; float: left; width: 100%; padding: 5px; position: fixed; z-index: 1000; box-shadow: 0 0 12px #000; opacity: 0.8;}
.logo{float: left;}
span.logo{margin: 20px 30px 0px 0px; font-size: 36px; color: #012275; font-family: 'Francois One', sans-serif;}
ul.menu{list-style: none; float: right; margin-top: 25px;}
ul.menu li{display: inline;}
ul.menu li a{margin: 10px 30px; color: #000; font-size: 16px; font-weight: bold;}
ul.menu li a:hover{color: #0990ce; text-decoration: none;}
ul.menu li a:focus{color: #012275; text-decoration: none;}

/*BackGround Parallax*/
.background-parallax{background: url("../imagens/p2.jpeg") no-repeat; background-size: cover; background-position: center center; background-attachment: fixed;}
.parallax{padding: 200px 0px;}
.titulo-parallax{font-size: 40px;}
.descricao-parallax{padding-bottom: 5px; font-size: 20px;}
.descricao-parallax2{padding-bottom: 20px; font-size: 16px;}

/*Diferencial*/
.detalhe-diferencial{margin-top: 35px;}
.titulo-diferencial{font-size: 18px;font-weight: bold;color: #012275;}
.diferencial{color: #222; background-color: #FFF; }

/*Planos*/
.planos{background-color: #333;}
.img-curso{max-width: 260px;}
.titulo-curso{font-size: 18px; color: #000;font-weight: bold; margin-top: 8px;}
.Material-icons-green{color: #5CB85C; }
.Material-icons-red{color: #D9534F;}
.panel{height: 415px;}

/*Contato*/
.contato{background-color: #0990CE;}
.message-danger{color: #A70E02;}

/*Forms*/
form.imobweb-form{
    max-width: 650px;
    margin: 0px auto;
}
form.imobweb-form input{
    width: 100%;
    margin: 5px;
    height: 50px;
    padding: 5px;
    border: none;
    color: #333;
    font-weight: bold;
    text-align: center;
}
form.imobweb-form textarea{
    padding: 5px;
    border: none;
    color: #333;
    font-weight: bold;
    text-align: center;
    width: 100%;
    min-height: 120px;
    margin: 5px;
}
form.imobweb-form input[type="submit"]{
    background: #09ce47;
    color: #FFF;
    font-size: 18px;
    width: 140px;
    border-radius: 2px;
}
form.imobweb-form input[type="submit"]:hover{
    background: #3ad86c;
    color: #FFF;
}

/*Copy*/
div.copyright{
    background-color: #000;
    margin: 0px;
    padding: 8px;
}
p.copyrigth{
    color: #FFF;
    margin: 0px;
}
#endsystem{color: #f99e00; background-color: #000;}

/*Cadastro Empresa*/
.fundo{
    /*background-color: #f5f5f5;*/
    background: url("../imagens/predio3.jpeg") no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.card-title{
    color:#555;
}
div.error {
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color: #d50000;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
}

/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input:focus + label {
    color: #1e88e5 !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important;
}
/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important;
}
/* invalid color */
.input-field input.invalid {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #1e88e5 !important;
}
.toast-warnning{
    background-color:#ffb300 !important;
}
.toast-danger{
    background-color:#d32f2f !important;
}
.toast-success{
    background-color:#43a047 !important;
}